
.gallery{
    display: inline-block;
    margin-top: 20px;
}

.thumbnail img {
  height:auto;
}
table.dataTable thead tr {
  background-color: #003366;
  color: white;
}
.fancybox-inner .slide-title {
    position: fixed;
    top: 11px;
    left: 50%;
    transform: translate(-50%, -0%));
  }
  table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
  }
